body {
    margin: 0;
    padding: 0;
    
    background-color: #000; 
    color: #fff;
    overflow: hidden;
    height: 100vh;
}

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.brand-list {
    position: relative;
    height: 100%;
    width:50%;
    flex-wrap: wrap;
    padding-top: 40vh;
    padding-right: 25vh;
}

.brand-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.brand-list li .sub-title {
    font-size: 1rem;
    color: #fff; 
    opacity: 0.6; 
    margin-left: 10px;
    transition: opacity 0.3s ease;
     font-family: 'Times New Roman', Times, serif;
}

.brand-list li:hover .sub-title {
    opacity: 1; 
}

.brand-list li {
    font-size: 3rem;
    cursor: pointer;
    color: #fff; 
    font-weight: 700;
    transition: all 0.3s ease;
    margin: 1rem;
    display:inline-block;
    text-align:center;
    
}

.brand-list li:hover {
    font-size: 3.5rem;
    color: #fff;
    opacity: 1; 
}

.brand-list li.active {
    font-size: 3.5rem;
    color: #fff; 
    opacity: 1;
}

.brand-list li.inactive {
    opacity: 0.2; 
}


.brand-display {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-color: black;
    transition: background-image 1s ease, opacity 1s ease; 
    opacity: 0; 
    z-index: -1;
    filter: brightness(75%);
}

.brand-display.active {
    opacity: 1;
}
